Repository RafaellaJunqueira/PGTBL, pull requests merged in 2020-11, with the labels that each got.

#21 Feature/1 rich pictures
  docs/_media/RC_criar_sessao_TBL.jpg
  docs/_media/RC_geral.jpeg
  docs/pages/pre-rastreabilidade/rich-picture.md
Labels: documentation, pre-rastreabilidade

#22 Validação dos storytellings
  docs/_sidebar.md
  docs/pages/analise/validar-storytelling.md
  docs/pages/planejamento-entregas.md
Labels: análise, documentation

#23 Adição da validação do rich picture
  docs/_media/RC_criar_sessao_TBL.jpg
  docs/_sidebar.md
  docs/pages/analise/validar-rich-picture.md
  docs/pages/analise/validar-storytelling.md
Labels: análise, documentation

#24 Adicao dos lexicos
  docs/_sidebar.md
  docs/pages/analise/validar-storytelling.md
  docs/pages/elicitacao/storytelling.md
  docs/pages/modelagem/lexicos.md
  docs/pages/planejamento-entregas.md
  docs/pages/proposta.md
Labels: documentation, modelagem

#25 Consolidar requisitos + refatoração de documentos
  docs/_sidebar.md
  docs/pages/elicitacao/introspeccao.md
  docs/pages/elicitacao/requisitos-total.md
  docs/pages/elicitacao/storytelling.md
  docs/pages/planejamento-entregas.md
  docs/pages/plano-gerenciamento.md
  docs/pages/proposta.md
Labels: bug-fix, documentation

#27 Validacao dos lexicos
  docs/_sidebar.md
  docs/pages/analise/validar-lexicos.md
  docs/pages/modelagem/epicos.md
  docs/pages/modelagem/especificacao-uc.md
Labels: análise, documentation

#28 Criação do Backlog
  docs/_sidebar.md
  docs/pages/modelagem/backlog.md
  docs/pages/modelagem/casos-uso.md
  docs/pages/modelagem/historia-usuario.md
Labels: documentation, modelagem
